//palet
$color-white: #ffffff;
$color-blue:#5474fd;

$color-darck-gray:#333333;
$color-gray:#999999;
$color-ligth-gray:#e8e8e8;
$color-shadow: rgba(25,25,25,0.9);

//path
$path-img: '../img';

//fonts
$font-josefin:'Josefin Sans',
sans-serif;
$font-aleo:'Aleo',
serif;