.comment {

    background-image: url('#{$path-img}/comments-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 107px 0 200px;

    &__box {
        background-color: $color-darck-gray;
        text-align: left;

        &:after {
            display: block;
            content: '';
            clear: both;
        }
    }

    &__title {
        margin-bottom: 82px;
    }

    &__text {
        float: right;
        width: 59%;
        color: $color-ligth-gray;
        padding: 45px 54px 23px 50px;
    }

    &__img {
        float: left;

    }

    &__name {
        font-family: $font-josefin;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 35px;
        letter-spacing: -1px;
    }

    &__des {
        i {
            display: inline-block;
            float: left;
            color: $color-blue;
            font-size: 17px;
            color: #5474fd;
            margin: -9px 10px 0 0;



            &:after {
                content: '';
                display: block;
                clear: both;
            }
        }

        p {
            float: right;
        }
    }


}