.footer {
    padding: 120px 0 50px;
    margin: 0 auto;
    background-color: $color-darck-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__logo {
        font-size: 24px;
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: 2.86px;
    }

    &__qouat {
        letter-spacing: 0.6px;
        margin-bottom: 19px;
    }
}

.social {
    &__list {
        display: flex;
        margin: auto;
    }

    &__item {   
        font-size: 16px;
        color: $color-white;

        &:not(:last-child) {
            margin-right: 25px;
        }
        &:hover a{
            color: $color-blue;
            
        }
    }
}