.howto {

    background-color: $color-darck-gray;
    margin-top: -40px;
    padding: 75px 0 88px;

    &__list {
        display: flex;
        justify-content: space-between;
        font-family: $font-aleo;
        margin: 0 -15px;
    }

    &__box {

        display: flex;
        justify-content: space-between;
        padding: 0 145px;
        img {
            margin-top: 22px;}
    }

    &__spacer {
        width: 296px;
        height: 113px;
        position: relative;
        overflow: hidden;
        margin-top: -26px;
    }

    &__devider {
        width: 370px;
        height: 250px;
        border: 2px dotted gray;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -12%;
    }

}